{% extends 'base.html.twig' %}

{% block title %} {% include 'includes/qleaq_title.html.twig' %}
    {% if app.user %} | {{ app.user.username }}{% else %}Accueil{% endif %}
{% endblock %}

{% block layer %}
    <div class="layer" style="position: absolute;height"></div>
{% endblock %}

{% block header %}



    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand" style="align-items: center;">
            <a class="" href="{{ path('home') }}">
                <img src="{{ asset('build/images/qleaq_bleu.7137e0f1.png') }}" alt="" width="150">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active')">
                <span ></span>
                <span ></span>
                <span ></span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start is-size-4" >


                <a class="navbar-item" href="#">
                    Offres
                </a>

                <a class="navbar-item" href="{{ path('footer_partenariats') }}">
                    Partenariats
                </a>

                <a class="navbar-item" href="{{ path('footer_contact') }}">
                    Contact
                </a>

            </div>

            {% if is_granted('ROLE_ADMIN') %}

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div style="justify-content: end;">





                            <div class="dropdown is-hoverable is-right">
                                <div class="dropdown-trigger">
                                    <button class="button is-success" aria-haspopup="true" aria-controls="dropdown-menu2">
                                        <strong>Vous êtes connecté : {{ app.user.username }}</strong>
                                        <span class="icon is-small">
                                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                                            </span>
                                    </button>
                                </div>
                                <div class="dropdown-menu is-success" id="dropdown-menu2" role="menu">
                                    <div class="dropdown-content has-background-success">


                                        <a class="button is-success is-fullwidth" href="{{ path('admin_home', {id: app.user.id} )  }}">
                                            <span>Accueil</span>
                                        </a>

                                        <hr class="dropdown-divider">
                                        <a class="button is-success is-fullwidth" href="{{ path('admin_liste_nomades') }}">
                                            <span>Gestion des comptes Locataires</span>
                                        </a>

                                        <hr class="dropdown-divider">
                                        <a class="button is-success is-fullwidth" href="{{ path('admin_liste_proprios') }}">
                                            <span>Gestion des comptes Propriétaires</span>
                                        </a>

                                        <hr class="dropdown-divider">
                                        <a class="button is-success is-fullwidth" href="{{ path('app_logout') }}">
                                            <span>Déconnexion</span>
                                        </a>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>





            {% elseif is_granted('ROLE_PROPRIO')%}

            <div class="navbar-end">
                <div class="navbar-item">
                    <div style="justify-content: end;">





                        <div class="dropdown is-hoverable is-right">
                            <div class="dropdown-trigger">
                                <button class="button is-info" aria-haspopup="true" aria-controls="dropdown-menu2">
                                    <strong>Vous êtes connecté : {{ app.user.username }}</strong>
                                    <span class="icon is-small">
                                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                                            </span>
                                </button>
                            </div>
                            <div class="dropdown-menu is-info" id="dropdown-menu2" role="menu">
                                <div class="dropdown-content" style="background-color: rgba(236,103,57,1);">


                                    <a class="button is-info is-fullwidth" href="{{ path('proprio_presentation', {id: app.user.id} )  }}">
                                        <span>Accueil Propriétaire</span>
                                    </a>

                                    <hr class="dropdown-divider">
                                    <a class="button is-info is-fullwidth" href="{{ path('proprio_home', {id: app.user.id} ) }}">
                                        <span>Mes Annonces</span>
                                    </a>

                                    <hr class="dropdown-divider">
                                    <a class="button is-info is-fullwidth" href="{{ path('proprio_profile', {id: app.user.id} )  }}">
                                        <span>Modifier mon compte</span>
                                    </a>

                                    <hr class="dropdown-divider">
                                    <a class="button is-info is-fullwidth" href="{{ path('app_logout') }}">
                                        <span>Déconnexion</span>
                                    </a>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            {% elseif is_granted('ROLE_USER') %}

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="" style="justify-content: end;">





                            <div class="dropdown is-hoverable is-right">
                                <div class="dropdown-trigger">
                                    <button class="button is-primary" aria-haspopup="true" aria-controls="dropdown-menu2">
                                        <strong>Vous êtes connecté : {{ app.user.username }}</strong>
                                            <span class="icon is-small">
                                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                                            </span>
                                    </button>
                                </div>
                                <div class="dropdown-menu is-primary" id="dropdown-menu2" role="menu">
                                    <div class="dropdown-content" style="background-color: #006eaa;">


                                        <a class="button is-primary is-fullwidth" href="{{ path('nomade_presentation') }}">
                                            <span>Présentation</span>
                                        </a>

                                        <hr class="dropdown-divider">
                                        <a class="button is-primary is-fullwidth" href="{{ path('nomade_home', {id: app.user.id} ) }}">
                                            <span>Annonces</span>
                                        </a>

                                        <hr class="dropdown-divider">
                                        <a class="button is-primary is-fullwidth" href="{{ path('nomade_my_favorites') }}">
                                            <span>Mes favoris</span>
                                        </a>

                                        <hr class="dropdown-divider">
                                        <a class="button is-primary is-fullwidth" href="{{ path('nomade_profile', {id: app.user.id}) }}">
                                            <span>Modifier mon profil</span>
                                        </a>

                                        <hr class="dropdown-divider">
                                        <a class="button is-primary is-fullwidth" href="{{ path('app_logout') }}">
                                            <span>Déconnexion</span>
                                        </a>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            {% endif %}




        </div>
    </nav>

    {% block background %}
{#        <img src="{{ asset('build/images/apart1.f6c2aa21.jpg') }}" style="position: fixed; z-index: -2; min-height: 100vh; min-width: 1920px">#}
    {% endblock %}

{% endblock %}

{% block content %}
    <div class="buttons_home is-size-2">

        <div class="lien_nomade">

            <a class="" href="{{ path('nomade_presentation') }}">
                Espace Locataire
            </a>

        </div>

        <div class="lien_proprio">

            <a class="" href="{{ path('proprio_presentation') }}">
                Espace Propriétaire
            </a>

        </div>
    </div>
{% endblock %}