{% extends 'base.html.twig' %}

{% block title %}QLEAQ
        {% if app.user %} | {{ app.user.username }}{% else %} | Accueil{% endif %}
{% endblock %}

{% block body %}
        <nav class="navbar has-background-grey-darker is-dark">
                <div class="navbar-brand">
                        <a class="navbar-item" href="{{ path('app_login') }}">
                                <p class="subtitle is-4 has-text-primary">
                                        {#                    <i class="fab fa-korvue"></i>#}
                                        <b>QLEAQ</b>
                                </p>
                        </a>

                        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                                <span aria-hidden="true"></span>
                                <span aria-hidden="true"></span>
                                <span aria-hidden="true"></span>
                        </a>
                </div>

                <div id="navbarBasicExample" class="navbar-menu">
                        <div class="navbar-start">
                                <a class="navbar-item" href="">
                                        Artistes
                                </a>
                                <a class="navbar-item" href="">
                                        Nouveautés
                                </a>
                        </div>

                        <div class="navbar-end">
                                <div class="navbar-item">
                                        <div class="buttons">
                                                {% if is_granted('ROLE_USER') %}
                                                        <a href="{{ path('profile_edit') }}" class="button is-primary is-small">
                                                                <i class="fas fa-user-circle"></i>
                                                                {{ app.user.username }}
                                                        </a>
                                                        <a href="{{ path('app_logout') }}" class="button is-light is-small">
                                                                Déconnexion
                                                        </a>
                                                {% else %}
                                                        <a class="button is-primary is-small" href="">
                                                                <strong>Inscription</strong>
                                                        </a>
                                                        <a class="button is-light is-small" href="{{ path('app_login') }}">
                                                                Connexion
                                                        </a>
                                                {% endif %}

                                                {% if is_granted('ROLE_EDITOR') %}
                                                        <a href="{{ path('admin_dashboard') }}" class="button is-primary is-small">
                                                                <i class="fas fa-shield-alt"></i>
                                                                Back Office
                                                        </a>
                                                {% endif %}
                                        </div>
                                </div>

                                <a class="navbar-item">
                                        <form action="#">
                                                <div class="field has-addons">
                                                        <div class="control is-expanded">
                                                                <input name="query" type="text" class="input is-small" placeholder="Recherche ..." required>
                                                        </div>
                                                        <div class="control">
                                                                <button type="submit" class="button is-primary is-small">
                                                                        <i class="fas fa-search"></i>
                                                                </button>
                                                        </div>
                                                </div>
                                        </form>
                                </a>
                        </div>
                </div>
        </nav>

<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Bienvenue {{ app.user.username }} !<br> <a href="{{ path('app_logout') }}">Deconnexion</a>
        </div>
    {% else %}
        <h1 class="h3 mb-3 font-weight-normal">Veuillez vous identifier</h1>
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <button class="btn btn-lg btn-primary" type="submit">
            Connexion
        </button>
        <br>
        Vous n'avez pas de compte? <a href="{{ path('app_register') }}">Inscrivez-vous !</a>
    {% endif %}

</form>





{% endblock %}
