{% extends 'base.html.twig' %}

{% block title %}QLEAQ
    {% if app.user %} | {{ app.user.username }}{% else %} | Accueil{% endif %}
{% endblock %}


{% block header %}



    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="" href="{{ path('home') }}">
                <img src="{{ asset('build/images/qleaq_bleu.7137e0f1.png') }}" alt="" width="150">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active')">
                <span ></span>
                <span ></span>
                <span ></span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">


                <a class="navbar-item" href="#">
                    Offres
                </a>

                <a class="navbar-item" href="#">
                    Partenariats
                </a>

                <a class="navbar-item" href="#">
                    Contact
                </a>

            </div>




        </div>
    </nav>

    {% block background %}
{#        <img src="{{ asset('build/images/apart1.f6c2aa21.jpg') }}" style="position: fixed; z-index: -2; min-height: 100vh; min-width: 1920px">#}
    {% endblock %}

{% endblock %}

{% block content %}
    <div class="buttons_home">

        <div class="lien_nomade">

            <a class="" href="{{ path('app_login') }}">
                Espace Nomade
            </a>

        </div>

        <div class="lien_proprio">

            <a class="" href="{{ path('proprio_space') }}">
                Espace Propriétaire
            </a>

        </div>
    </div>
{% endblock %}