{% extends 'security/login.html.twig' %}

{% block title %}QLEAQ | Inscription{% endblock %}


    {% block content %}

        {% if is_granted('ROLE_USER') %}

        {% else %}

<section class="hero is-medium">
        <div class="columns is-centered section">


            <div class="column" style="align-items: center;display: flex;">
                <img src="{{ asset('build/images/formulaire.21012800.svg') }}" alt="" style="margin: auto; max-width: 70%">
            </div>



            <div class="column is-two-fifths register">
                <h1 class="title has-text-centered has-text-primary">
                    Inscription
                </h1>

                {% include 'includes/flash_message.html.twig' %}

                {{ form_start(registrationForm, {'attr' : {'class' : 'has-text-primary', 'style' : "max-width:400px; margin:auto"} }) }}

                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        {{ form_row(registrationForm.email, {'attr' : {'class' : 'input', 'placeholder' : 'ex : mail@mail.com'}
                        }) }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Téléphone</label>
                    <div class="control">
                        {{ form_row(registrationForm.telephone, {'attr' : {'class' : 'input', 'placeholder' : 'ex : 0102030405'}
                        }) }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Civilité</label>

                    <div class="select" style="width: 100%;">







                    {{ form_row(registrationForm.sexe, {'attr' : {'class' : 'select input'}
                        }) }}

                    </div>

                </div>

                <div class="field">
                    <label class="label">Nom</label>
                    <div class="control">
                        {{ form_row(registrationForm.nom, {'attr' : {'class' : 'input', 'placeholder' : 'Entrez votre Nom'}
                        }) }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Prénom</label>
                    <div class="control">
                        {{ form_row(registrationForm.prenom, {'attr' : {'class' : 'input', 'placeholder' : 'Entrez votre adresse Prénom'}
                        }) }}
                    </div>
                </div>



                <div class="field">
                    <label class="label">Mot de passe</label>
                    <div class="form-error">
                        {{ form_errors(registrationForm) }}
                    </div>
                    <div class="control">
                        {{ form_row(registrationForm.plainPassword.first, {'attr' : {'class' : 'input', 'placeholder' : 'Entrez votre Mot de passe', 'class' : 'input'}
                        }) }}
                    </div>
                </div>


                <div class="field">
                    <label class="label">Comfirmez votre mot de passe</label>
                    <div class="control">
                        {{ form_row(registrationForm.plainPassword.second, {'attr' : {'class' : 'input', 'placeholder' : 'Répétez votre mot de passe', 'class' : 'input'}
                        }) }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Votre statut</label>
                    <div class="select" style="width: 100%">
                        {{ form_row(registrationForm.statut, {placeholder: 'Choisissez ...', 'attr' : {'class' : 'select input'}
                        }) }}
                    </div>
                </div>

                <div class="form-error">
                    {{ form_errors(registrationForm) }}
                </div>

                    <button class="button is-success is-fullwidth" type="submit">
                        S'inscrire
                    </button>

                {{ form_end(registrationForm) }}

            </div>
        </div>

</section>

        {% endif %}

    {% endblock %}
