{% extends 'security/login.html.twig' %}

{% block title %}QLEAQ | Inscription{% endblock %}


    {% block content %}

        <div class="columns is-centered section">
            <div class="column is-one-third">
                <h1 class="title has-text-primary has-text-centered">
                    Inscription
                </h1>

                {{ form_start(registrationForm) }}

                    {{ form_row(registrationForm.email, {'label' : 'Email', 'attr' : {'placeholder' : 'Entrez votre adresse Email'}
                    }) }}

                    {{ form_row(registrationForm.nom, {'label' : 'Nom', 'attr' : {'placeholder' : 'Entrez votre Nom'}
                    }) }}

                    {{ form_row(registrationForm.prenom, {'label' : 'Prénom', 'attr' : {'placeholder' : 'Entrez votre adresse Prénom'}
                    }) }}

                    {{ form_row(registrationForm.plainPassword.first, {'label' : 'Mot de passe', 'attr' : {'placeholder' : 'Entrez votre Mot de passe', 'class' : 'input'}
                    }) }}

                    {{ form_row(registrationForm.plainPassword.second, {'label' : 'Confirmation du mot de passe', 'attr' : {'placeholder' : 'Répétez votre mot de passe', 'class' : 'input'}
                    }) }}

                    <button class="button is-primary is-fullwidth" type="submit">
                        S'inscrire
                    </button>

                {{ form_end(registrationForm) }}

            </div>
        </div>
    {% endblock %}
