{% extends 'security/login.html.twig' %}

{% block title %}QLEAQ | Inscription{% endblock %}


    {% block content %}
<section class="hero is-primary is-medium">
        <div class="columns is-centered section">
            <div class="column is-one-third register">
                <h1 class="title has-text-centered is-success">
                    Inscription
                </h1>

                {% include 'includes/flash_message.html.twig' %}

                {{ form_start(registrationForm) }}

                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        {{ form_row(registrationForm.email, {'attr' : {'class' : 'input', 'placeholder' : 'Entrez votre adresse Email'}
                        }) }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Civilité</label>

                    <div class="select" style="width: 100%">

                        {{ form_row(registrationForm.sexe, {placeholder: 'Choisissez ...', 'attr' : {'class' : 'select'}
                        }) }}

                    </div>

                </div>

                <div class="field">
                    <label class="label">Nom</label>
                    <div class="control">
                        {{ form_row(registrationForm.nom, {'attr' : {'class' : 'input', 'placeholder' : 'Entrez votre Nom'}
                        }) }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Prénom</label>
                    <div class="control">
                        {{ form_row(registrationForm.prenom, {'attr' : {'class' : 'input', 'placeholder' : 'Entrez votre adresse Prénom'}
                        }) }}
                    </div>
                </div>



                <div class="field">
                    <label class="label">Mot de passe</label>
                    <div class="form-error">
                        {{ form_errors(registrationForm) }}
                    </div>
                    <div class="control">
                        {{ form_row(registrationForm.plainPassword.first, {'attr' : {'class' : 'input', 'placeholder' : 'Entrez votre Mot de passe', 'class' : 'input'}
                        }) }}
                    </div>
                </div>


                <div class="field">
                    <label class="label">Comfirmez votre mot de passe</label>
                    <div class="control">
                        {{ form_row(registrationForm.plainPassword.second, {'attr' : {'class' : 'input', 'placeholder' : 'Répétez votre mot de passe', 'class' : 'input'}
                        }) }}
                    </div>
                </div>

                <div class="field">
                    <label class="label" style="width: 100%">Votre statut</label>
                    <div class="select">
                        {{ form_row(registrationForm.statut, {placeholder: 'Choisissez ...', 'attr' : {'class' : 'select input'}
                        }) }}
                    </div>
                </div>

                <div class="form-error">
                    {{ form_errors(registrationForm) }}
                </div>

                    <button class="button is-success is-fullwidth" type="submit">
                        S'inscrire
                    </button>

                {{ form_end(registrationForm) }}

            </div>
        </div>

</section>
    {% endblock %}
