{% extends 'home/index.html.twig' %}

{% block title %}{% include 'includes/qleaq_title.html.twig' %}Inscription{% endblock %}


    {% block content %}

        {% if is_granted('ROLE_USER') %}

{#            <div class="section hero is-warning">#}
{#                <div class="hero-body is-danger">#}
{#                     <p class="is-centered" style="margin: auto">Vous êtes déjà connecté !</p>#}
{#                    #}
{#                </div>#}
{#            </div>#}

            <section class="hero is-primary is-medium">
                <div class="hero-body">
                    <div class="container" style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
                        <h1 class="title">
                            Vous êtes connecté avec un compte déjà enregistré !
                        </h1>
                        <i>Veuillez vous déconnecter pour pouvoir enregistrer un compte</i>
                        <a class="button is-large" style="margin: auto" href="{{ path('home') }}">Revenir à l'Accueil</a>
                    </div>
                </div>
            </section>
            

        {% else %}

<section class="hero is-medium">
        <div class="columns is-centered section">


            <div class="column" style="align-items: center;display: flex;">
                <img src="{{ asset('build/images/registration_nomade.0d47d169.svg') }}" alt="" style="margin: auto; max-width: 70%">
            </div>



            <div class="column is-two-fifths register">
                <h1 class="title has-text-centered has-text-primary">
                    Inscription Nomade
                </h1>

                <h2 class="title is-6 has-text-centered has-text-danger"> <i>Les champs mentionnés d'un astérisque (*) sont obligatoires</i> </h2>

                {% include 'includes/flash_message.html.twig' %}

                {{ form_start(registrationForm, {'attr' : {'class' : 'has-text-primary', 'style' : "max-width:400px; margin:auto"} }) }}


                <div class="field">
                    <label class="label">Civilité *</label>

                    <div class="select" style="width: 100%;">

                        {{ form_row(registrationForm.sexe, {'attr' : {'class' : 'select input', 'alt' : 'civilite'}
                        }) }}

                    </div>

                </div>

                <div class="field">
                    <label class="label">Nom *</label>
                    <div class="control">
                        {{ form_row(registrationForm.nom, {'attr' : {'class' : 'input', 'placeholder' : 'Entrez votre Nom', 'alt' : 'Nom'}
                        }) }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Prénom *</label>
                    <div class="control">
                        {{ form_row(registrationForm.prenom, {'attr' : {'class' : 'input', 'placeholder' : 'Entrez votre adresse Prénom', 'alt' : 'Prenom'}
                        }) }}
                    </div>
                </div>


                <div class="field">
                    <label class="label">Selectionnez votre date de naissance</label>
                    <div class="control">

                        <div class="select">{{ form_row( registrationForm.date_naissance.day, {'label' : ' ', 'attr' : {'class' : 'select', 'alt' : 'jour'}} ) }}</div>
                        <div class="select">{{ form_row( registrationForm.date_naissance.month, {'label' : ' ', 'attr' : {'class' : 'select', 'alt' : 'mois'}} ) }}</div>
                        <div class="select">{{ form_row( registrationForm.date_naissance.year, {'label' : ' ', 'attr' : {'class' : 'select', 'alt' : 'annee'}} ) }}</div>

                    </div>
                </div>


                <div class="field">
                    <label class="label">Téléphone</label>
                    <div class="control">
                        {{ form_row(registrationForm.telephone, {'attr' : {'class' : 'input', 'placeholder' : 'ex : 0102030405', 'onkeyup' : 'verif_nombre(this);verif_nombre_max(this,10);' , 'alt' : 'telephone' }
                        }) }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Email *</label>
                    <div class="control">
                        {{ form_row(registrationForm.email, {'attr' : {'class' : 'input', 'placeholder' : 'ex : mail@mail.com', 'alt' : 'email'}
                        }) }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Mot de passe *</label>
                    <div class="control">
                        {{ form_row(registrationForm.plainPassword.first, {'attr' : {'class' : 'input', 'placeholder' : 'Entrez votre Mot de passe', 'class' : 'input', 'alt' : 'password'}
                        }) }}
                    </div>
                </div>


                <div class="field">
                    <label class="label">Comfirmez votre mot de passe *</label>
                    <div class="control">
                        {{ form_row(registrationForm.plainPassword.second, {'attr' : {'class' : 'input', 'placeholder' : 'Répétez votre mot de passe', 'class' : 'input', 'alt' : 'confirm password'}
                        }) }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Votre statut *</label>
                    <div class="select" style="width: 100%">
                        {{ form_row(registrationForm.statut, {placeholder: 'Choisissez ...', 'attr' : {'class' : 'select input', 'alt' : 'statut'}
                        }) }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Type de séjour *</label>
                    <div class="select" style="width: 100%">
                        {{ form_row(registrationForm.type_sejour, {placeholder: 'Choisissez ...', 'attr' : {'class' : 'select input' , 'alt' : 'type sejour'}
                        }) }}
                    </div>
                </div>

                {% if form_errors(registrationForm) != null %}
                    <div class="form-error notification is-danger">
                        <button class="delete" onclick="this.parentElement.parentElement.removeChild(this.parentElement);"></button>
                        {{ form_errors(registrationForm) }}
                    </div>
                {% endif %}

{#                {% include 'includes/flash_message.html.twig' %}#}

                    <button class="button is-info is-fullwidth" type="submit">
                        S'inscrire
                    </button>

                {{ form_end(registrationForm) }}

            </div>
        </div>

</section>

        {% endif %}






    {% endblock %}
