{% extends 'home/index.html.twig' %}

{% block title %}{% include 'includes/qleaq_title.html.twig' %}Suppression du compte Nomade{% endblock %}

{% block content %}
    <section>

        {% if is_granted('ROLE_ADMIN') %}

            <section class="hero is-medium is-success is-bold">
                <div class="hero-body">
                    <div class="container">

                        <h1 class="title is-1">
                            Suppression du compte Nomade
                        </h1>
                        <hr>
                        <h2 class="subtitle">
                            Vous êtes sur le point de supprimer le compte Nomade suivant : <div class="tag is-medium is-primary">{{ nomade.email }}</div>
                            <br>
                            de l'utilisateur : <div class="tag is-medium is-primary">{{ nomade.prenom }} {{ nomade.nom }}</div>
                        </h2>

                    </div>
                </div>
            </section>



            <div class="notification is-warning  has-text-centered">
                <h2 class="title is-2" >Etes vous sur de vouloir supprimer ce compte ?</h2>
                <i>(Irréversible)</i>
            </div>

            <div class="columns is-centered section">

                <div class="column is-one-third">

                    {#                <h1 class="title has-text-primary has-text-centered">#}
                    {#                    Gestion de votre profile#}
                    {#                </h1>#}


                    <div class="field" >
                        {{ form_start(deleteNomadeForm) }}

                        {#                        <div class="column is-centered">#}
                        {#                            <label for="">Compte créé le : </label>#}
                        {#                            {{ form_row(deleteProprioForm.date_creation_compte, {'attr' : {'class' : 'button'}}) }}#}
                        {#                        </div>#}

                        <div class="column is-centered">
                            <button type="submit" style="width: 100%;" class="button is-danger">Supprimer le compte</button>
                        </div>

                        <div class="column is-centered">
                            <a href="{{ path('admin_gestion_nomade', {id: nomade.id}) }}" type="submit" style="width: 100%;" class="button is-success">Annuler</a>
                        </div>

                        {{ form_end(deleteNomadeForm) }}




                    </div>
                </div>
            </div>

        {% else %}

            <section class="hero is-dark is-bold is-large">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Vous n'êtes pas éligible à cette page
                        </h1>
                        <a class="button is-large" style="margin: auto" href="{{ path('home') }}">Revenir à l'Accueil</a>
                    </div>
                </div>
            </section>

        {% endif %}

    </section>



{% endblock %}





