{% extends 'home/index.html.twig' %}

{% block title %}{% include 'includes/qleaq_title.html.twig' %}Espace d'administration{% endblock %}

{% block content %}
    <section>

        {% if is_granted('ROLE_ADMIN') %}



            <section class="hero is-medium is-success is-bold">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Bonjour {{ app.user.prenom }} {{ app.user.nom }} !
                        </h1>
                        <h2 class="subtitle">
                            Bienvenue sur votre espace d'aministration
                        </h2>
                    </div>
                </div>
            </section>


            <section class="section columns is-vcentered">

                {% include 'includes/flash_message.html.twig' %}

                <div class="has-text-centered list-nomades is-small">
                    <div class="column illustration is-centered">
                        <img src="{{ asset('build/images/gestion_nomades.08547eff.svg') }}" >
                        <a href="{{ path('admin_liste_nomades') }}"  class="button is-large has-background-primary has-text-white">
                            Gestion des comptes Nomades
                        </a>
                    </div>

                </div>


                <div class="has-text-centered list-proprios">

                    <div class="column illustration">
                        <img src="{{ asset('build/images/gestion_proprios.a35c342f.svg') }}" >
                        <a href="{{ path('admin_liste_proprios') }}" class="button is-large has-background-info has-text-white">
                            Gestion des comptes Propriétaires
                        </a>
                    </div>

                </div>

                <div class="has-text-centered list-admins">

                    <div class="column illustration">
                        <img src="{{ asset('build/images/gestion_admins.097d9088.svg') }}" >
                        <a href="#" class="button is-large has-background-success has-text-white">
                            Gestion des comptes Administrateurs
                        </a>
                    </div>

                </div>

            </section>




        {% else %}


            <section class="hero is-success is-bold is-large">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Vous n'êtes pas éligible à cette page
                        </h1>
                        <a class="button is-large" style="margin: auto" href="{{ path('home') }}">Revenir à l'Accueil</a>
                    </div>
                </div>
            </section>


        {% endif %}

    </section>





{% endblock %}