{% extends 'home/index.html.twig' %}

{% block title %}{% include 'includes/qleaq_title.html.twig' %}Connexion Administrateur{% endblock %}

{% block content %}



    {% if is_granted('ROLE_ADMIN') %}
        <section class="section">
            <div class="is-centered section">


        <div class="columns is-centered section">
            <div class="field">

                <h1 class="title has-text-primary has-text-centered">
                    Création d'un compte administrateur
                </h1>

                {{ form_start(AdminRegistrationForm, {'attr' : {'class' : 'has-text-primary', 'style' : "max-width:400px; margin:auto"} }) }}


                <div class="field">
                    <label class="label">Nom</label>
                    <div class="control">
                        {{ form_row(AdminRegistrationForm.nom, {'attr' : {'class' : 'input', 'placeholder' : 'Entrez votre Nom', 'alt' : 'Nom'}
                        }) }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Prénom</label>
                    <div class="control">
                        {{ form_row(AdminRegistrationForm.prenom, {'attr' : {'class' : 'input', 'placeholder' : 'Entrez votre adresse Prénom', 'alt' : 'Prenom'}
                        }) }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        {{ form_row(AdminRegistrationForm.email, {'attr' : {'class' : 'input', 'placeholder' : 'ex : mail@mail.com', 'alt' : 'email'}
                        }) }}
                    </div>
                </div>


                <div class="field">
                    <label class="label">Mot de passe</label>
                    <div class="control">
                        {{ form_row(AdminRegistrationForm.plainPassword.first, {'attr' : {'class' : 'input', 'placeholder' : 'Entrez votre Mot de passe', 'class' : 'input', 'alt' : 'password'}
                        }) }}
                    </div>
                </div>


                <div class="field">
                    <label class="label">Comfirmez votre mot de passe</label>
                    <div class="control">
                        {{ form_row(AdminRegistrationForm.plainPassword.second, {'attr' : {'class' : 'input', 'placeholder' : 'Répétez votre mot de passe', 'class' : 'input', 'alt' : 'confirm password'}
                        }) }}
                    </div>
                </div>



                {% if form_errors(AdminRegistrationForm) != null %}
                    <div class="form-error notification is-danger">
                        <button class="delete" onclick="this.parentElement.parentElement.removeChild(this.parentElement);"></button>
                        {{ form_errors(AdminRegistrationForm) }}
                    </div>
                {% endif %}

                {#                {% include 'includes/flash_message.html.twig' %}#}

                <button class="button is-info is-fullwidth" type="submit">
                    S'inscrire
                </button>

                {{ form_end(AdminRegistrationForm) }}

                {% include 'includes/flash_message.html.twig' %}


                {#                    {% if error %}#}
                {#                        <div class="form-error notification is-danger">#}
                {#                            <button class="delete" onclick="this.parentElement.parentElement.removeChild(this.parentElement);"></button>#}
                {#                            {{ error.messageKey|trans(error.messageData, 'security') }}#}
                {#                        </div>#}
                {#                    {% endif %}#}


            </div>
        </div>
    </div>

</section>

    {% else %}

        <section class="hero is-success is-bold is-large">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Vous n'êtes pas éligible à cette page
                    </h1>
                    <a class="button is-large" style="margin: auto" href="{{ path('home') }}">Revenir à l'Accueil</a>
                </div>
            </div>
        </section>

    {% endif %}










    {% block background %}{% endblock %}



{% endblock %}

{% block footer %}
    {% include('includes/footer_admin.html.twig') %}
{% endblock %}