<div style="justify-content: space-between;display: flex">

    <a class="button is-primary is-outlined" href="{{ path('nomade_presentation') }}"> <strong>Accueil Locataire</strong></a>

    <div class="button" id="dropdown-filtres">
        <span>Filtres</span>
        <span class="icon is-small">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
    </div>

</div>




<div class="column" style="align-items: end;justify-content: end;display: flex;position: relative;">



    <div id="block-filtres" class="box" style="position: absolute;top: 0;z-index: 5;display: none;background: rgba(0,110,170,0.91)">

        {{ form_start(form) }}

        <label class="has-text-centered has-text-weight-bold column box" for="">
            <p class="subtitle">
                Loyer
            </p>

            <div class="control" style="margin: 0 .20rem">

                <div class="field has-addons" style="justify-content: center;">
                    <p class="control">
                        <a class="button is-static has-text-weight-normal">
                            Max
                        </a>
                    </p>
                    <div class="control">
                        {{ form_row(form.tarifMax) }}
                    </div>
                    <p class="control">
                        <a class="button is-static">
                            €
                        </a>
                    </p>
                </div>

                <div class="field has-addons" style="justify-content: center;">
                    <p class="control">
                        <a class="button is-static has-text-weight-normal">
                            Min
                        </a>
                    </p>
                    <div class="control">
                        {{ form_row(form.tarifMin) }}
                    </div>
                    <p class="control">
                        <a class="button is-static">
                            €
                        </a>
                    </p>
                </div>

            </div>
        </label>


        <label class="has-text-centered has-text-weight-bold column box" for="">

            <p class="subtitle">
                Superficie
            </p>

            <div class="control" style="margin: 0 .20rem">

                <div class="field has-addons" style="justify-content: center;">
                    <p class="control">
                        <a class="button is-static has-text-weight-normal">
                            Max
                        </a>
                    </p>
                    <div class="control">
                        {{ form_row(form.superficieMax) }}
                    </div>
                    <p class="control">
                        <a class="button is-static">
                            m²
                        </a>
                    </p>
                </div>

                <div class="field has-addons" style="justify-content: center;">
                    <p class="control">
                        <a class="button is-static has-text-weight-normal">
                            Min
                        </a>
                    </p>
                    <div class="control">
                        {{ form_row(form.superficieMin) }}
                    </div>
                    <p class="control">
                        <a class="button is-static">
                            m²
                        </a>
                    </p>
                </div>

            </div>
        </label>

{#        {% if form_errors(form) != null %}#}
{#            <div class="notification is-danger">#}
{#                <button class="delete" onclick="this.parentElement.parentElement.removeChild(this.parentElement);"></button>#}
{#                {{ form_errors(form) }}#}
{#            </div>#}
{#        {% endif %}#}

        <div class="field has-addons column" style="justify-content: center">
            <p class="control">
                <button class="button is-info" type="submit">
                    Rechercher
                </button>
            </p>
        </div>

        {{ form_end(form) }}

    </div>



</div>