{% for annonce in annonce %}

{% if annonce == false %}
    N/C
{% else %}


    <div class="columns is-centered">

        <div class="column is-half is-full-touch" style="margin: auto">
            <div class="card-image">
                <div class="media-content column">

                    <div class="column is-vcentered" style="margin-bottom: 30px;">

                        <h2> <strong class="is-size-3">{{ annonce.titre }}</strong></h2>

                        <time > <i class="tag has-background-info has-text-white is-small">Créée : {{ annonce.datecreation|date('d/m/Y à H:i') }}</i> </time>

                        {% if annonce.publicationauth == null or annonce.publicationauth == false %}
                            <div class="tag is-warning">
                                Annonce non publiée
                            </div>
                            <span class="icon has-text-warning" title="Votre annonce n'est pas publiée">
                                <i class="fas fa-exclamation-triangle"></i>
                            </span>
                        {% elseif annonce.publicationauth == true %}
                            <div class="tag is-success">Annonce publiée le {{ annonce.datepublication|date('d/m/Y à H:i') }}</div>
                        {% endif %}

                        <h3 class="subtitle is-size-6">
                            Par <strong>{{ proprio.raisonsocial }}</strong>
                        </h3>
                    </div>


                </div>

                <div class="columns is-fullwidth is-mobile" style="justify-content: space-around;">
                    <div><h4 class="tag is-info is-size-4">{{ annonce.typelogement }}</h4> </div>
                    <div><h4 class="tag is-info is-size-4">{{ annonce.superficie }}m²</h4> </div>
                    <div><h4 class="tag is-info is-size-4">{{ annonce.tarif }}€ (CC*)</h4> </div>
                </div>

                <figure class="image">
                    {% if annonce.illustrationname %}
                        <img src="{{ vich_uploader_asset(annonce, 'illustration') | imagine_filter('thumb') }}" alt="Placeholder image" style="border-radius: 4px;border: #dfdfdf 1px solid;">
                    {% else %}
                        <img src="{{ asset('build/images/no-image4x3.f917ed4b.jpg') }}" alt="illustration annonce" style="border-radius: 4px;border: #dfdfdf 1px solid;">
                    {% endif %}
                </figure>


            </div>
            <div class="card-content box">

                <div class="content">

                    <p>
                        <h4 class="tag is-info is-size-6">Type de logement</h4> : {{ annonce.typelogement }} <br>

                        <h4 class="tag is-info is-size-6">Loyer</h4> : {{ annonce.tarif }}€ (Charges Comprises) <br>

                        <h4 class="tag is-info is-size-6">Superficie</h4> : {{ annonce.superficie }}m² <br>

                        <h4 class="tag is-info is-size-6">Capacité</h4> : {{ annonce.nombremaxresidents }} locataire(s)<br>

                        <h4 class="tag is-info is-size-6">Adresse</h4> :
                            {% if annonce.adresse is null %}
                                N/C
                            {% else %}
                                {{  annonce.adresse }}
                            {% endif %}<br>

                        <h4 class="tag is-info is-size-6">Code postale</h4> : {{ annonce.cp }} <br>

                        <h4 class="tag is-info is-size-6">Ville</h4> : {{ annonce.ville }} <br>

                        <h4 class="tag is-info is-size-6">Disponible dès le </h4> : {{ annonce.datedisponible|date('d/m/Y') }}<br>


                        <h4 class="tag is-info is-size-6">Détails</h4> :

                            {% if annonce.description is null %}
                                N/C
                            {% else %}
                                <i>
                                {{  annonce.description }}
                                </i>
                            {% endif %}<br>

                    </p>

                </div>

                <div class="columns buttons" style="justify-content: space-between;">

{#                    {% if annonce.publicationauth == true %}#}
{#                        <a class="button is-success is-outlined is-flex column " disabled title="Veuillez retirer la publication de l'annonce avant de la modifier">#}
{#                            <span>Modifier</span>#}
{#                        </a>#}
{#                    {% else %}#}
                        <a href="{{ path('proprio_edit_annonce', {id: annonce.id} ) }}" class="button is-success is-outlined is-flex column">
                            <span>Modifier</span>
                        </a>
{#                    {% endif %}#}

                    {% if annonce.publicationauth == null or annonce.publicationauth == false %}

                        <a href="{{ path('proprio_publication_annonce', {id: annonce.id} ) }}" class="button is-success is-outlined is-flex column">

                            <span>Publier</span>

                            <span class="icon is-small">
                                <i class="fas fa-check"></i>
                            </span>

                        </a>

                    {% else %}

                        <a href="{{ path('proprio_publication_annonce', {id: annonce.id} ) }}" class="button is-warning is-outlined is-flex column">

                            <span>Retirer la publication</span>

                            <span class="icon is-small">
                                <i class="fas fa-times"></i>
                            </span>

                        </a>

                    {% endif %}

                        <a href="{{ path('proprio_delete_annonce', {id: annonce.id} ) }}" class="button is-danger is-outlined is-flex column">

                            <span>Supprimer</span>

                            <span class="icon is-small">
                                <i class="fas fa-times"></i>
                            </span>
                        </a>



                </div>



            </div>
        </div>
        </div>

    <hr style="border:black 1px solid">







{% endif %}

{% endfor %}

