


{% for nomade in nomades %}
    {# @var record \App\Entity\Nomade #}





                        <tr>

                            <td>{{ nomade.nom }}</td>

                            <td>{{ nomade.prenom }}</td>

                            <td>{{ nomade.email }}</td>

                            <td>{{ nomade.telephone }}</td>

                            <td>
                                {% if nomade.datenaissance == null %}
                                        N/C
                                {% else %}
{#                                        {{ nomade.datenaissance }}#}
                                    {{ nomade.datenaissance|date("d/m/Y") }}
                                {% endif %}
                            </td>

                            <td>
                                {% if nomade.adresse == null %}
                                        N/C
                                {% else %}
                                        {{ nomade.adresse }}
                                {% endif %}
                            </td>

                            <td>
                                {% if nomade.cp == null %}
                                        N/C
                                {% else %}
                                        {{ nomade.cp }}
                                {% endif %}
                            </td>

                            <td>
                                {% if nomade.ville == null %}
                                        N/C
                                {% else %}
                                        {{ nomade.ville }}
                                {% endif %}
                            </td>

                            <td>
                                {% if nomade.statut == null %}
                                        N/C
                                {% else %}
                                        {{ nomade.statut }}
                                {% endif %}
                            </td>

                            <td>
                                {% if nomade.typesejour == null %}
                                        N/C
                                {% else %}
                                        {{ nomade.typesejour }}
                                {% endif %}
                            </td>

                            <td>
                                {% if nomade.datecreationcompte == null %}
                                        N/C
                                {% else %}
                                    {{ nomade.datecreationcompte|date("d/m/Y") }}
                                {% endif %}

                            </td>
                            <td>
                                <a href="{{ path('admin_gestion_nomade', {id: nomade.id}) }}" class="button is-primary has-text-white is-small">Gérer
                                </a>
                            </td>

                        </tr>





{% endfor %}