{% extends 'nomade/espace.html.twig' %}

{% block title %}{% include 'includes/qleaq_title.html.twig' %}{% for annonce in annonce %}{{ annonce.titre }}{% endfor %}{% endblock %}


{% block espace_locataire %}

    <section>

        {% if is_granted('ROLE_USER') %}

            <section class="hero is-small is-primary is-bold">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Annonces N° {{ id }}
                        </h1>
                    </div>
                </div>
            </section>

            <section class="section">

{#                <hr style="border:black 1px solid">#}

                <div class="columns is-centered">
                    {% include 'includes/flash_message.html.twig' %}
                </div>

                {% if noAnnonces == false %}
                    <div class="columns is-centered is-vcentered">
                        <article class="message is-info">
                            <div class="message-header">
                                <p>Oops !</p>
                            </div>
                            <div class="message-body">
                                <p>
                                    Malheureusement, il n'y a encore aucune annonces de publiées... <br>
                                    A très vite !
                                </p>
                            </div>
                        </article>
                    </div>
                {% endif %}



                {% block annonces %}
                    {% for annonce in annonce %}
                        <div class="column is-centered box">

                            <div class="columns">
                                <div class="media-content column has-text-centered">
                                    <div class="column" style="margin-bottom: 30px;">
                                        <h2> <strong class="is-size-3">{{ annonce.titre }}</strong> </h2>
                                        <time > <i class="tag has-background-info has-text-white is-small">Publiée le : {{ annonce.datepublication|date('d/m/Y') }}</i> </time>

                                        <h3 class="subtitle is-size-6">

                                            Par <strong>{{ annonce.proprio }}</strong>

                                        </h3>

                                    </div>
                                </div>
                            </div>

                            <div class="columns">
                                <div class="card-image column is-half">

                                    <div class="columns is-fullwidth is-mobile" style="justify-content: space-around;">
                                        <div><h4 class="is-size-4"><strong>{{ annonce.typelogement }}</strong> </h4> </div>
                                        <div><h4 class="is-size-4"><strong>{{ annonce.superficie }}m²</strong> </h4> </div>
                                        <div><h4 class="is-size-4"><strong>{{ annonce.tarif }}€ (CC*)</strong> </h4> </div>
                                    </div>

                                    <figure class="image is-5by3">
                                        {% if annonce.illustrationname %}
                                            <img src="{{ vich_uploader_asset(annonce, 'illustration') | imagine_filter('thumb') }}" alt="Placeholder image" style="border-radius: 4px;border: #dfdfdf 1px solid;">
                                        {% else %}
                                            <img src="{{ asset('build/images/no-image4x3.f917ed4b.jpg') }}" alt="illustration annonce" style="border-radius: 4px;border: #dfdfdf 1px solid;">
                                        {% endif %}
                                    </figure>
                                </div>
                                <div class=" column is-half is-flex" style="align-items: end;">

                                    <div class="card-content columns">
                                        <div class="content">

                                            <p>
                                            <h4 class="tag is-info is-size-6">Type de logement</h4> : {{ annonce.typelogement }} <br>

                                            <h4 class="tag is-info is-size-6">Loyer</h4> : {{ annonce.tarif }}€ (Charges Comprises) <br>

                                            <h4 class="tag is-info is-size-6">Superficie</h4> : {{ annonce.superficie }}m² <br>

                                            <h4 class="tag is-info is-size-6">Capacité</h4> : {{ annonce.nombremaxresidents }} locataire(s)<br>

                                            <h4 class="tag is-info is-size-6">Adresse</h4> :
                                            {% if annonce.adresse is null %}
                                            N/C
                                            {% else %}
                                                {{  annonce.adresse }}
                                            {% endif %}<br>

                                            <h4 class="tag is-info is-size-6">Code postale</h4> : {{ annonce.cp }} <br>

                                            <h4 class="tag is-info is-size-6">Ville</h4> : {{ annonce.ville }} <br>

                                            <h4 class="tag is-info is-size-6">Disponible dès le </h4> : {{ annonce.datedisponible|date('d/m/Y') }}<br>
                                            <br>

                                            </p>

                                        </div>
                                    </div>


                                </div>
                            </div>

                            <div class="columns is-centered is-vcentered">
                                <div class="column">
                                    <h4 class="tag is-info is-size-6">Détails</h4> :
                                    {% if annonce.description is null %}
                                        <i>Aucuns détails complémentaire n'a été apportés à cette annonce</i>
                                    {% else %}
                                        <i>
                                            {{  annonce.description }}
                                        </i>
                                    {% endif %}
                                </div>
                            </div>


                            <div class="columns">
                                <div class="media-content column has-text-centered">
                                    <div class="column" style="margin-bottom: 30px;">

                                        <div class="buttons" style="justify-content: end">
                                            <a class="button is-outlined is-primary" href="{{ path('nomade_home', {id: annonce.id}) }}">Retour</a>
                                            {% if annonce in nomade.favori %}
                                            <a title="Retirer des favoris" class="button is-outlined is-warning js-favori" href="{{ path('nomade_add_favorite', {id: annonce.id}) }}">Retirer des favoris</a>
                                            {% else %}
                                            <a title="Ajouter des favoris" class="button is-outlined is-success js-favori" href="{{ path('nomade_add_favorite', {id: annonce.id}) }}">Ajouter des favoris</a>
                                            {% endif %}
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>


                    {% endfor %}

                {% endblock %}



            </section>




        {% else %}

            <section class="hero is-dark is-bold is-large">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Vous n'êtes pas éligible à cette page
                        </h1>
                        <a class="button is-large" style="margin: auto" href="{{ path('header') }}">Revenir à l'Accueil</a>
                    </div>
                </div>
            </section>

        {% endif %}

    </section>

    {#               SCRIPT POUR AJAX                   #}
    <script>

        function addFavori(event){
            event.preventDefault();

            const url = this.href;
            const textFavori = this;

            console.log(textFavori);

            axios.get(url).then(function (response) {

                if (textFavori.classList.contains('is-success')){
                    textFavori.classList.replace('is-success', 'is-warning');
                    textFavori.innerHTML = 'Retirer des favoris';
                    textFavori.title = 'retirer l\'annonce de vos favoris';
                }else if (textFavori.classList.contains('is-warning')) {
                    textFavori.classList.replace('is-warning', 'is-success');
                    textFavori.innerHTML = 'Ajouter aux favoris';
                    textFavori.title = 'ajouter l\'annonce à vos favoris';
                }
            })
        }

        let favoriButton = document.querySelectorAll('a.js-favori').forEach(function (link){
            link.addEventListener('click' || 'touchstart', addFavori);
        });


    </script>

{% endblock %}




