{% extends 'home/index.html.twig' %}

{% block title %}{% include 'includes/qleaq_title.html.twig' %}Accueil Locataire{% endblock %}

{% block content %}


{% block espace_locataire %}

    <section>

        {% if is_granted('ROLE_USER') %}

            <section class="hero is-medium is-primary is-bold">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Bonjour {{ app.user.prenom }} {{ app.user.nom }} !
                        </h1>
                        <h2 class="subtitle">
                            Bienvenue sur votre espace Locataire
                        </h2>
                    </div>
                </div>
            </section>

            <section class="section">


                {{ include('includes/annonce_search_form.html.twig') }}


                <div class="column">
                    <h2 class="subtitle is-3">Annonces hébergement :</h2>
                </div>

                <hr style="border:black 1px solid">

                <div class="columns is-centered">
                    {% include 'includes/flash_message.html.twig' %}
                </div>

                {% if noAnnonces == false %}
                    <div class="columns is-centered is-vcentered">
                        <article class="message is-info">
                            <div class="message-header">
                                <p>Oops !</p>
                            </div>
                            <div class="message-body">
                                <p>
                                    Malheureusement, il n'y a encore aucune annonces de publiées... <br>
                                    A très vite !
                                </p>
                            </div>
                        </article>
                    </div>
                {% endif %}



                {% block annonces %}

                    <div class="pagination" style="justify-content: center">
                        {{ knp_pagination_render(annonce) }}
                    </div>

                    <div class="is-multiline columns">
                        {% include('nomade/listeAnnonces.html.twig') %}
                    </div>

                    <div class="pagination" style="justify-content: center">
                        {{ knp_pagination_render(annonce) }}
                    </div>

                {% endblock %}



            </section>




        {% else %}

            <section class="hero is-dark is-bold is-large">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Vous n'êtes pas éligible à cette page
                        </h1>
                        <a class="button is-large" style="margin: auto" href="{{ path('home') }}">Revenir à l'Accueil</a>
                    </div>
                </div>
            </section>

        {% endif %}

    </section>

    {% endblock %}


    <script>

        let dropdownFiltres = document.getElementById('dropdown-filtres');
        let deployed = false;

        dropdownFiltres.onclick = function () {
            let blockFiltres = document.getElementById('block-filtres');
            if (deployed === true)
            {
                blockFiltres.style.display = 'none';
                deployed = false;
                return deployed;
            }
            blockFiltres.style.display = 'initial';
            deployed = true;
            return deployed;
        };




    </script>


{% endblock %}