{% extends 'header/index.html.twig' %}

{% block title %}{% include 'includes/qleaq_title.html.twig' %}Accueil Locataire{% endblock %}

{% block content %}


{% block espace_locataire %}

    <section>

        {% if is_granted('ROLE_USER') %}

            <section class="hero is-normal is-primary is-bold">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title is-1">
                            Bonjour {{ app.user.prenom }} ! <p class="is-size-4">Bienvenue sur ton espace locataire</p>
                        </h1>
                        <h2 class="subtitle">
                            Parcoures l'ensemble des annonces sur cette page...
                        </h2>
                    </div>
                </div>
            </section>

            <section class="section">


                {{ include('includes/annonce_search_form.html.twig') }}


                {#<div>
                    <h2 class="subtitle is-3">Annonces hébergement :</h2>
                </div>#}

                <div class="is-flex justify-content-center align-items-center">
                    <div class="tags has-addons">
                        <span class="tag">Nombre d'annonces trouver :</span>
                        <span class="tag is-primary">{{ annonce.getTotalItemCount }}</span>
                    </div>
                </div>

                <hr style="height: 2px;color: rgba(0,0,0,1)">

                <div class="columns is-centered">
                    {% include 'includes/flash_message.html.twig' %}
                </div>

                {% if noAnnonces == false %}
                    <div class="columns is-centered is-vcentered">
                        <article class="message is-info">
                            <div class="message-header">
                                <p>Oops !</p>
                            </div>
                            <div class="message-body">
                                <p>
                                    Malheureusement, il n'y a encore aucune annonces de publiées... <br>
                                    A très vite !
                                </p>
                            </div>
                        </article>
                    </div>
                {% endif %}



                {% block annonces %}

                    <div class="pagination" style="justify-content: center">
                        {{ knp_pagination_render(annonce) }}
                    </div>

                    <div class="pagination" style="justify-content: center">

                        <div class="control" style="margin-right: 1.5rem">
                                <span class="is-primary">
                                    {{ knp_pagination_sortable(annonce, 'Superficie', 'a.superficie') }}
                                    <i class="fas fa-sort" aria-hidden="true"></i>
                                </span>
                        </div>

                        <div class="control" style="margin-right: 1.5rem">
                                <span class="is-primary">
                                    {{ knp_pagination_sortable(annonce, 'Loyer', 'a.tarif') }}
                                    <i class="fas fa-sort" aria-hidden="true"></i>
                                </span>
                        </div>

                        <div class="control" style="margin-right: 1.5rem">
                                <span class="is-primary">
                                    {{ knp_pagination_sortable(annonce, 'Date de publication', 'a.datePublication') }}
                                    <i class="fas fa-sort" aria-hidden="true"></i>
                                </span>
                        </div>

                    </div>

                    <div class="container" style="margin-bottom: 1.5rem">
                        <div class="is-multiline columns">
                            {% include('nomade/listeAnnonces.html.twig') %}
                        </div>
                    </div>

                    <div class="pagination" style="justify-content: center">
                        {{ knp_pagination_render(annonce) }}
                    </div>

                {% endblock %}



            </section>




        {% else %}

            <section class="hero is-dark is-bold is-large">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Vous n'êtes pas éligible à cette page
                        </h1>
                        <a class="button is-large" style="margin: auto" href="{{ path('header') }}">Revenir à l'Accueil</a>
                    </div>
                </div>
            </section>

        {% endif %}

    </section>

    {% endblock %}


    <script>

        let dropdownFiltres = document.getElementById('dropdown-filtres');
        let deployed = false;

        dropdownFiltres.onclick = function () {
            let blockFiltres = document.getElementById('block-filtres');
            if (deployed === true)
            {
                blockFiltres.style.display = 'none';
                deployed = false;
                return deployed;
            }
            blockFiltres.style.display = 'initial';
            deployed = true;
            return deployed;
        };




    </script>


{% endblock %}