
{% for annonce in annonce %}

    {% if annonce.publicationauth == true %}

        <div class="column is-one-third">
            <div class="card">

                <header class="card-header has-background-primary" style="position: relative;z-index: 1">
                    <p class="card-header-title is-size-5 has-text-white" style="justify-content: center;">
                        {{ annonce.titre }}
                    </p>
                </header>

                <time class="has-background-success" style="display: flex;justify-content: center;">Publiée le : {{ annonce.datepublication|date('d/m/Y') }}</time>

                <div class="card-content">
                    <div class="content">
                        <h4 class="is-size-6 has-text-centered"><strong>Type : {{ annonce.typelogement }}</strong> </h4>
                        <h4 class="is-size-6 has-text-centered"><strong>{{ annonce.superficie }}m²</strong> </h4>
                        <h4 class="is-size-6 has-text-centered"><strong>{{ annonce.tarif }}€ (CC*)</strong> </h4>
                        <h4 class="is-size-6 has-text-centered">Disponible dès le : {{ annonce.datedisponible|date('d/m/Y') }} </h4>
                    </div>
                </div>

                <footer class="card-footer">
                    <a href="{{ path('nomade_annonce_detail', {id: annonce.id}) }}" class="card-footer-item">Détails</a>
                    {% if annonce in nomade.favori %}
                        <a title="Retirer des favoris" class="card-footer-item has-text-centered" href="{{ path('nomade_remove_favorite', {id: annonce.id}) }}"><span class="icon"><i class="fas fa-lg fa-star"></i></span></a>
                    {% else %}
                        <a title="Ajouter aux favoris" class="card-footer-item has-text-centered" href="{{ path('nomade_add_favorite', {id: annonce.id}) }}"><span class="icon"><i class="far fa-lg fa-star"></i></span></a>
                    {% endif %}
                </footer>

            </div>
        </div>


    {% endif %}

{% endfor %}