{% extends 'home/index.html.twig' %}

{% block title %}QLEAQ | Gestion de compte Nomade{% endblock %}

{% block content %}
<section>

    {% if is_granted('ROLE_USER') %}
        <div class="columns is-centered section">
            <div class="column is-one-third">
                <h1 class="title has-text-primary has-text-centered">
                    Gestion de votre profile
                </h1>



                {{ form_start(nomadeForm) }}

                    {{ form_row(nomadeForm.nom, {'attr' : {'placeholder' : 'Entrez votre Nom'}
                    }) }}

                    {{ form_row(nomadeForm.prenom, {'attr' : {'placeholder' : 'Entrez votre Prénom'}
                    }) }}

                    {{ form_row(nomadeForm.email, {'attr' : {'placeholder' : 'Entrez votre adresse Email'}
                    }) }}

                    {{ form_row(nomadeForm.date_naissance, {'label' : 'Selectionnez votre date de naissance'
                    }) }}

                    {{ form_row(nomadeForm.telephone, {'attr' : {'placeholder' : 'ex : 0102030405', 'pattern' : '[0-9]{10}' }
                    }) }}

                    {{ form_row(nomadeForm.adresse, {'attr' : {'placeholder' : 'ex : 1 rue qleaq'}
                    }) }}

                    {{ form_row(nomadeForm.cp, {'label' : 'Selection votre code postale', 'attr' : {'placeholder' : 'ex : 75000', 'onkeyup' : 'verif_nombre(this);', 'pattern' : '[0-9]{5}'  }
                    }) }}

                    {{ form_row(nomadeForm.ville, {'attr' : {'placeholder' : 'Entrez votre ville'}
                    }) }}

                    {{ form_row(nomadeForm.presentation, {'attr' : {'placeholder' : 'Présentez vous', 'style' : 'resize:none;'}
                    }) }}

                    {{ form_row(nomadeForm.email, {'attr' : {'placeholder' : 'Entrez votre mot de passe'}
                    }) }}

                    <button type="submit" class="button is-success"><a href="{{ path('change_password') }}">Changer votre mot de passe</a></button>

                    {{ form_row(nomadeForm.photo_profile) }}

{#                <div class="file">#}
{#                    <label class="file-label">#}
{#                        <input class="file-input" type="file" name="resume">#}
{#                        <span class="file-cta">#}
{#                          <span class="file-icon">#}
{#                            <i class="fas fa-upload"></i>#}
{#                          </span>#}
{#                          <span class="file-label">#}
{#                            Uploadez votre photo…#}
{#                          </span>#}
{#                        </span>#}
{#                    </label>#}
{#                </div>#}

{#                {{ form_widget(nomadeForm)  }}#}

                {% include 'includes/flash_message.html.twig' %}

                    <button type="submit" class="button is-success">Modifier</button>



                {{ form_end(nomadeForm) }}

            </div>
        </div>
    {% else %}

        <div style="height: 80vh;width: 100%;display: flex;justify-content: center;align-items: center;">
            <h1>Accès refusé !</h1>
        </div>

    {% endif %}

</section>

    <script language="Javascript">
        function verif_nombre(champ)
        {
            var chiffres = new RegExp("[0-9]");
            var verif;
            var points = 0;

            for(x = 0; x < champ.value.length; x++)
            {
                verif = chiffres.test(champ.value.charAt(x));
                if(champ.value.charAt(x) == "."){points++;}
                if(points > 1){verif = false; points = 1;}
                if(verif == false){champ.value = champ.value.substr(0,x) + champ.value.substr(x+1,champ.value.length-x+1); x--;}
            }
        }
    </script>

{% endblock %}



