{% extends 'header/index.html.twig' %}

{% block title %}{% include 'includes/qleaq_title.html.twig' %}Partenariats{% endblock %}

{% block content %}


    <section class="hero is-primary is-bold is-medium">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-1">
                    Partenariats
                </h1>
                <h2 class="subtitle">
                    Ce que vous devez savoir sur nos partenaires
                </h2>
            </div>
        </div>
    </section>


    <section class="section is-medium">

        <div class="columns is-vcentered">

            <div class="column is-two-fifths">
                <figure class="image is-3by2">
                    <img src="{{ asset('build/images/Logo ACI Conseil Immobilier.3e067095.png') }}">
                </figure>
            </div>

            <div class="column has-text-centered textes-presentation-nomade">
                <h2 class="title is-2 box has-background-primary has-text-white">Notre Vision</h2>
                <p class="subtitle is-3">Faciliter et améliorer l'expérience des travailleurs en mobilité professionnelle.</p>
            </div>

        </div>

    </section>

    <section class="section is-medium" style="background: #fafafa;">

        <div class="columns is-vcentered">

            <div class="column is-hidden-tablet is-two-fifths">
                <figure class="image is-3by2">
                    <img src="{{ asset('build/images/Logo Convergence Entrepreneurs.239f7773.png') }}">
                </figure>
            </div>

            <div class="column has-text-centered textes-presentation-nomade">
                <h2 class="title is-2 box has-background-primary has-text-white">Notre Mission</h2>
                <p class="subtitle is-3">Vous aider à organiser vos séjours professionnels, études, missions, stages ou formations.</p>
            </div>

            <div class="column is-hidden-mobile is-two-fifths">
                <figure class="image is-3by2">
                    <img src="{{ asset('build/images/Logo Convergence Entrepreneurs.239f7773.png') }}">
                </figure>
            </div>

        </div>

    </section>

    <section class="section is-medium">

        <div class="columns is-vcentered">

            <div class="column is-two-fifths">
                <figure class="image is-3by2">
                    <img src="{{ asset('build/images/Logo Convergence Incubateur.cb4938c2.png') }}">
                </figure>
            </div>

            <div class="column has-text-centered textes-presentation-nomade">
                <h2 class="title is-2 box has-background-primary has-text-white">Notre Vision</h2>
                <p class="subtitle is-3">Faciliter et améliorer l'expérience des travailleurs en mobilité professionnelle.</p>
            </div>

        </div>

    </section>

    <section class="section is-medium" style="background: #fafafa;">

        <div class="columns is-vcentered">

            <div class="column is-hidden-tablet is-two-fifths">
                <figure class="image is-3by2">
                    <img src="{{ asset('build/images/Logo_Paris_8.d0861746.jpg') }}">
                </figure>
            </div>

            <div class="column has-text-centered textes-presentation-nomade">
                <h2 class="title is-2 box has-background-primary has-text-white">Notre Mission</h2>
                <p class="subtitle is-3">Vous aider à organiser vos séjours professionnels, études, missions, stages ou formations.</p>
            </div>

            <div class="column is-hidden-mobile is-two-fifths">
                <figure class="image is-3by2">
                    <img src="{{ asset('build/images/Logo_Paris_8.d0861746.jpg') }}">
                </figure>
            </div>

        </div>

    </section>

    <section class="section is-medium">

        <div class="columns is-vcentered">

            <div class="column is-two-fifths">
                <figure class="image is-3by2">
                    <img src="{{ asset('build/images/Logo Dr House Immo.41b7463f.jpg') }}">
                </figure>
            </div>

            <div class="column has-text-centered textes-presentation-nomade">
                <h2 class="title is-2 box has-background-primary has-text-white">Nos Solutions</h2>
                <p class="subtitle is-3">Des hébergements parfaitement adaptés à votre profil, allant de la résidence étudiant à l'hôtel 4 étoiles.</p>
            </div>

        </div>

    </section>

    <section class="section is-medium" style="background: #fafafa;">

        <div class="columns is-vcentered">

            <div class="column is-hidden-tablet is-two-fifths">
                <figure class="image is-3by2">
                    <img src="{{ asset('build/images/Logo Nexity-Studéa.41703d3b.png') }}">
                </figure>
            </div>

            <div class="column has-text-centered textes-presentation-nomade">
                <h2 class="title is-2 box has-background-primary has-text-white">Notre Mission</h2>
                <p class="subtitle is-3">Vous aider à organiser vos séjours professionnels, études, missions, stages ou formations.</p>
            </div>

            <div class="column is-hidden-mobile is-two-fifths">
                <figure class="image is-3by2">
                    <img src="{{ asset('build/images/Logo Nexity-Studéa.41703d3b.png') }}">
                </figure>
            </div>

        </div>

    </section>

    <section class="section is-medium">

        <div class="columns is-vcentered">

            <div class="column is-two-fifths">
                <figure class="image is-3by2">
                    <img src="{{ asset('build/images/Logo Studélites Bleu.2e157123.jpeg') }}">
                </figure>
            </div>

            <div class="column has-text-centered textes-presentation-nomade">
                <h2 class="title is-2 box has-background-primary has-text-white">Nos Solutions</h2>
                <p class="subtitle is-3">Des hébergements parfaitement adaptés à votre profil, allant de la résidence étudiant à l'hôtel 4 étoiles.</p>
            </div>

        </div>

    </section>

    <section class="section is-medium" style="background: #fafafa;">

        <div class="columns is-vcentered">


            <div class="column is-hidden-tablet is-two-fifths">
                <figure class="image is-3by2">
                    <img src="{{ asset('build/images/Logo France Alumni.e631d842.png') }}">
                </figure>
            </div>


            <div class="column textes-presentation-nomade">
                <h2 class="title is-1 box has-background-primary has-text-white">Offres</h2>

                <div class="content is-large">
                    <ul>
                        <li>Conseils</li>
                        <li>Aide au montage du dossier</li>
                        <li>Diagnostic personalisé</li>
                        <li>Sélection d'hébergements</li>
                        <li>Mise en relation avec les établissements</li>
                        <li>Suivi du dossier jusqu'à la signature du bail</li>
                        <li>Accompagnement aux visites (sur demande)</li>
                    </ul>
                </div>

            </div>

            <div class="column is-hidden-mobile is-two-fifths">
                <figure class="image is-3by2">
                    <img src="{{ asset('build/images/Logo France Alumni.e631d842.png') }}">
                </figure>
            </div>

        </div>

    </section>

    <div class="column" style="justify-content: center;display: flex">
        <a class="button is-large is-primary" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfQS_66UU9ZovMLiBfxOO2dntEF5EXkPtM6lmbUGqnVMPiCbQ/viewform">Devenir partenaire</a>
    </div>

{#    <section class="section footer-sections" style="text-align: center;">#}

{#        <h1>Partenariats</h1>#}

{#        <div class="column" style="width: 75%;margin: auto;">#}

{#        </div>#}

{#    </section>#}

{% endblock %}