{% extends 'header/index.html.twig' %}

{% block title %}{% include 'includes/qleaq_title.html.twig' %}Creation d'annonce{% endblock %}

{% block content %}
    <section>

        {% if is_granted('ROLE_PROPRIO') %}



            <section class="hero is-medium is-info is-bold">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Espace de creation d'annonce
                        </h1>
{#                        <h2 class="subtitle">#}
{#                            Bienvenue sur votre espace Propriétaire#}
{#                        </h2>#}
                    </div>
                </div>
            </section>

            <section class="section">
                <a class="button is-info is-outlined" href="{{ path('proprio_home', {id: app.user.id} ) }}">
                    <strong>Retour</strong>
                </a>

                {#            <div class="navbar">#}
                {#                <div class="navbar-end"><a class="button is-info is-fullwidth" href="{{ path('proprio_home', {id: app.user.id} ) }}">#}
                {#                        <span>Mes Annonces</span>#}
                {#                    </a></div>#}
                {#            </div>#}


                <section class="section columns is-centered">



                    {{ form_start(annonceForm) }}


                    {% include 'includes/flash_message.html.twig' %}
                    {#                        {{ form_row(nomadeForm.nom, {'attr' : {'placeholder' : 'Entrez votre Nom'}#}
                    {#                        }) }}#}
                    {% if form_errors(annonceForm) != null %}
                        <div class="notification is-danger">
                            <button class="delete" onclick="this.parentElement.parentElement.removeChild(this.parentElement);"></button>
                            {{ form_errors(annonceForm) }}
                        </div>
                    {% endif %}




                    <div class="field">
                        <label class="label">Titre *</label>

                        <div class="" style="width: 100%;">

                            {{ form_row(annonceForm.titre, {'attr' : {'class' : 'select input', 'onkeyup' : 'verif_nombre_max(this, 25)', 'placeholder' : 'Entrez le titre de votre Annonce', 'alt' : 'titre'}
                            }) }}

                        </div>

                    </div>

                    <div class="field">
                        <label class="label">Type de logment </label>

                        <div class="select" style="width: 100%;">

                            {{ form_row(annonceForm.type_logement, {'attr' : {'class' : 'select input', 'placeholder' : 'Choisissez...', 'alt' : 'type logement'}
                            }) }}

                        </div>

                    </div>


                    <div class="field">
                        <label class="label">Nombre de résidents max</label>
                        <div class="select">
                            {{ form_row(annonceForm.nombre_max_residents, {'attr' : {'class' : 'input select', 'placeholder' : 'ex : Choisissez', 'alt' : 'nombre residents max'  }
                            }) }}
                        </div>
                    </div>




                    <div class="field">

                        <label class="label">Superficie (en m²)</label>

                        <div class="control">
                            {{ form_row(annonceForm.superficie, {'attr' : {'class' : 'input', 'placeholder' : 'ex : 45', 'onkeyup' : 'verif_nombre(this);verif_nombre_max(this, 3)' , 'alt' : 'superficie'  }
                            }) }}
                            {#                        <strong class=""> m²</strong>#}
                        </div>




                    </div>

                    <div class="field">

                        <label class="label">Tarif (en € / CC)</label>

                        <div class="control">

                            {{ form_row(annonceForm.tarif, {'attr' : {'class' : 'input', 'placeholder' : 'ex : 450', 'onkeyup' : 'verif_nombre(this);verif_nombre_max(this, 4);', 'alt' : 'tarif'  }
                            }) }}
                            {#                            <div class="">/ CC</div>#}

                        </div>

                    </div>

                    <div class="field">
                        <label class="label">Selectionnez la date de disponibilité du logement</label>

                        <div class="control">

                            <div class="select">{{ form_row( annonceForm.date_disponible.day, {'label' : ' ', 'attr' : {'class' : 'sel   '}} ) }}</div>
                            <div class="select">{{ form_row( annonceForm.date_disponible.month, {'label' : ' ', 'attr' : {'class' : 'select'}} ) }}</div>
                            <div class="select">{{ form_row( annonceForm.date_disponible.year, {'label' : ' ', 'attr' : {'class' : 'select'}} ) }}</div>

{#                            <input type="date">#}

                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Adresse</label>
                        <div class="control">
                            {{ form_row(annonceForm.adresse, {'attr' : {'class' : 'input', 'placeholder' : 'ex : 1 rue qleaq' , 'alt' : 'adresse'}
                            }) }}
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Code postale</label>
                        <div class="control">
                            {{ form_row(annonceForm.cp, {'attr' : {'class' : 'input', 'placeholder' : 'ex : 75000', 'pattern' : '[0-9]{5}' , 'onkeyup' : 'verif_nombre(this);verif_nombre_max(this, 5)', 'alt' : 'code postale'  }
                            }) }}
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Ville</label>
                        <div class="control">
                            {{ form_row(annonceForm.ville, {'attr' : {'class' : 'input', 'placeholder' : 'Entrez la ville' , 'alt' : 'ville'}
                            }) }}
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Illustration</label>

                        <div class="" style="width: 100%;">

                            {{ form_row(annonceForm.illustration, {'attr' : {'class' : 'image', 'alt' : 'images'}
                            }) }}

                        </div>
                        
                        {% if annonce.illustrationName %}
                            <img src="{{ vich_uploader_asset(annonce, 'illustration') | imagine_filter('thumb') }}" alt="">
                        {% endif %}

                    </div>


                    <div class="field">
                        <label class="label">Détails</label>

                        <div class="" style="width: 100%;">

                            {{ form_row(annonceForm.description, {'attr' : {'class' : 'textarea','rows' : 10 , 'onkeyup' : 'verif_nombre_max(this, 1000)', 'placeholder' : 'Entrez plus de détails ici ...', 'style' : 'resize:none;' , 'alt' : 'description'}
                            }) }}

                        </div>

                    </div>



                    <div class="column is-centered">
                        <button type="submit" style="width: 100%;" class="button is-success">Valider</button>
                    </div>




                    {{ form_end(annonceForm) }}



                </section>


                {% else %}

                    <section class="hero is-dark is-bold is-large">
                        <div class="hero-body">
                            <div class="container">
                                <h1 class="title">
                                    Vous n'êtes pas éligible à cette page
                                </h1>
                                <a class="button is-large" style="margin: auto" href="{{ path('header') }}">Revenir à l'Accueil</a>
                            </div>
                        </div>
                    </section>

                {% endif %}

            </section>


    </section>



{% endblock %}