{% extends 'header/index.html.twig' %}

{% block title %}{% include 'includes/qleaq_title.html.twig' %}Suppression d'une annonce{% endblock %}

{% block content %}
    <section>

        {% if is_granted('ROLE_PROPRIO') %}

            <section class="hero is-medium is-success is-bold">
                <div class="hero-body">
                    <div class="container">

                        <h1 class="title is-1">
                            Suppression d'une annonce
                        </h1>
                        <hr>
                        <h2 class="subtitle">
                            Vous êtes sur le point de supprimer l'annonce : <div class="tag is-medium is-info">{{ annonce.titre }}</div>
                            <br>
                        </h2>

                    </div>
                </div>
            </section>



            <div class="notification is-warning  has-text-centered">
                <h2 class="title is-2" >Etes vous sur de vouloir supprimer l'annonce ?</h2>
                <i>(Irréversible)</i>
            </div>


            {% include('includes/target_delete.html.twig') %}









            <div class="columns is-centered section">

                <div class="column is-one-third">

                    <div class="field" >

                        {{ form_start(deleteAnnonceForm) }}

                        {% if annonce.publicationauth == null or annonce.publicationauth == false %}

                                <div class="column">
                                    <button type="submit" style="width: 100%;" class="button is-danger">Supprimer l'annonce</button>
                                </div>

                        {% elseif annonce.publicationauth == true %}

                            <div class="column">
                                <button class="button is-danger" id="open-modal" style="width: 100%;">Supprimer l'annonce</button>
                            </div>

                            <div class="modal">
                                <div class="modal-background"></div>
                                <div class="modal-card">

                                    <header class="modal-card-head has-background-warning">
                                        <p class="modal-card-title">Attention</p>
                                    </header>

                                    <section class="modal-card-body">
                                        L'annonce : <strong>{{ annonce.titre }}</strong> est actuellement <div class="tag is-success">publiée</div> . <br>
                                        Souhaitez vous tout de même la supprimer définitivement? <br>
                                        <i class="is-size-7">(ATTENTION : Cette action est irreverssible, l'annonce ne pourra être récupérée)</i>
                                    </section>

                                    <footer class="modal-card-foot" style="justify-content: space-between;">
                                        <button class="button close-popup">Annuler</button>
                                        <button class="button is-success">Confirmer</button>
                                    </footer>

                                </div>
                                <button class="modal-close is-large" aria-label="close">MODAL</button>
                            </div>

                        {% endif %}


                        <div class="column is-centered">
                            <a href="{{ path('proprio_home') }}" type="submit" style="width: 100%;" class="button is-success">Annuler</a>
                        </div>

                        {{ form_end(deleteAnnonceForm) }}




                    </div>
                </div>
            </div>

        {% else %}

            <section class="hero is-dark is-bold is-large">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Vous n'êtes pas éligible à cette page
                        </h1>
                        <a class="button is-large" style="margin: auto" href="{{ path('header') }}">Revenir à l'Accueil</a>
                    </div>
                </div>
            </section>

        {% endif %}

    </section>



{% endblock %}

