{% extends 'home/index.html.twig' %}

{% block title %}{% include 'includes/qleaq_title.html.twig' %}Gestion de compte Propriétaire{% endblock %}

{% block content %}
    <section>

        {% if is_granted('ROLE_PROPRIO') %}

            <section class="hero is-medium is-info is-bold">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Gestion du propriétaire {{ app.user.username }}
                        </h1>
                        <h2 class="subtitle">
                            Ici vous pouvez compléter les informations de votre profile
                        </h2>
                    </div>
                </div>
            </section>



            <div class="columns is-centered section">



                <div class="column is-one-third">

                    {#                <h1 class="title has-text-primary has-text-centered">#}
                    {#                    Gestion de votre profile#}
                    {#                </h1>#}


                    <div class="field" >
                        {{ form_start(nomadeForm) }}


                        {% include 'includes/flash_message.html.twig' %}
                        {#                        {{ form_row(nomadeForm.nom, {'attr' : {'placeholder' : 'Entrez votre Nom'}#}
                        {#                        }) }}#}
                        {% if form_errors(nomadeForm) != null %}
                            <div class="notification is-danger">
                                <button class="delete" onclick="this.parentElement.parentElement.removeChild(this.parentElement);"></button>
                                {{ form_errors(nomadeForm) }}
                            </div>
                        {% endif %}

                        <div class="field">
                            <label class="label">Civilitée</label>

                            <div class="select" style="width: 100%">
                                {{ form_row(nomadeForm.sexe, {placeholder: 'Choisissez ...', 'attr' : {'class' : 'select input', 'alt' : 'civilite'}
                                }) }}
                            </div>

                        </div>

                        <div class="field">
                            <label class="label">Nom</label>
                            <div class="control">
                                {{ form_row(nomadeForm.nom, {'attr' : {'class' : 'input', 'placeholder' : 'Entrez votre Nom' , 'alt' : 'nom'},
                                }) }}
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Prénom</label>
                            <div class="control">
                                {{ form_row(nomadeForm.prenom, {'attr' : {'class' : 'input', 'placeholder' : 'Entrez votre Prénom' , 'alt' : 'prenom'}
                                }) }}
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Selectionnez votre date de naissance</label>
                            <div class="control">
                                {{ form_row(nomadeForm.date_naissance) }}
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control">
                                {{ form_row(nomadeForm.email, {'attr' : {'class' : 'input', 'placeholder' : 'Entrez votre Adresse Email' , 'alt' : 'email'}
                                }) }}
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Numéro de téléphone</label>
                            <div class="control">
                                {{ form_row(nomadeForm.telephone, {'attr' : {'class' : 'input', 'placeholder' : 'ex : 0102030405', 'pattern' : '[0-9]{10}' , 'alt' : 'telephone' }
                                }) }}
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Adresse</label>
                            <div class="control">
                                {{ form_row(nomadeForm.adresse, {'attr' : {'class' : 'input', 'placeholder' : 'ex : 1 rue qleaq' , 'alt' : 'adresse'}
                                }) }}
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Entrez votre code postale</label>
                            <div class="control">
                                {{ form_row(nomadeForm.cp, {'attr' : {'class' : 'input', 'placeholder' : 'ex : 75000', 'onkeyup' : 'verif_nombre(this);', 'pattern' : '[0-9]{5}' , 'alt' : 'code_postale'  }
                                }) }}
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Entrez votre Ville</label>
                            <div class="control">
                                {{ form_row(nomadeForm.ville, {'attr' : {'class' : 'input', 'placeholder' : 'Entrez votre ville' , 'alt' : 'ville'}
                                }) }}
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Présentez vous</label>
                            <div class="control">
                                {{ form_row(nomadeForm.presentation, {'attr' : {'class' : 'textarea', 'placeholder' : 'Présentez vous', 'style' : 'resize:none;rows:10;' , 'alt' : 'presentation'}
                                }) }}
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Votre statut</label>
                            <div class="select" style="width: 100%">
                                {{ form_row(nomadeForm.statut, {placeholder: 'Choisissez ...', 'attr' : {'class' : 'select input' , 'alt' : 'statut'}
                                }) }}
                            </div>
                        </div>


                        <div class="column is-centered ">
                            <a class="button is-primary" style="width: 100%;" href="{{ path('change_password') }}">Changer votre mot de passe</a>
                        </div>






                        <div class="column is-centered">
                            <button type="submit" style="width: 100%;" class="button is-info">Valider les modifications</button>
                        </div>

                        {#                    <div class="columns column is-centered">#}
                        {#                        <a class="button is-danger">Supprimer mon compte</a>#}
                        {#                    </div>#}

                        {{ form_end(nomadeForm) }}
                    </div>
                </div>
            </div>

        {% else %}

            <div style="height: 80vh;width: 100%;display: flex;justify-content: center;align-items: center;">
                <h1>Accès refusé !</h1>
            </div>

        {% endif %}

    </section>



    {#    VERIFICATION REMPLISSAGE DES CHAMPS EN JAVASCRIPT   #}
    <script language="Javascript">
        function verif_nombre(champ)
        {
            var chiffres = new RegExp("[0-9]");
            var verif;
            var points = 0;

            for(x = 0; x < champ.value.length; x++)
            {
                verif = chiffres.test(champ.value.charAt(x));
                if(champ.value.charAt(x) == "."){points++;}
                if(points > 1){verif = false; points = 1;}
                if(verif == false){champ.value = champ.value.substr(0,x) + champ.value.substr(x+1,champ.value.length-x+1); x--;}
            }
        }
    </script>

{% endblock %}



